@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #b993d6, #65358a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .grille {
    background: rgb(195,195,195);
    display: grid;
    grid-template: repeat(3, 200px) / repeat(4, 200px);
    width: 800px;
    height: 600px;
    margin: 200px auto 0;
  }
  
  .carte {
    background-color: transparent;
    perspective: 1000px; /* ? | Mieux de l'utiliser sur le parent */
    margin: 5px;
  }
  
  .double-face {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .face, .arriere {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* ne pas afficher la face retournée */
    -webkit-backface-visibility: hidden;
  }
  
  .face {
    background: #333;
    transform: rotateY(180deg); /* */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .face img {
    width: 120px;
  }
  .arriere {
    background: rgb(60, 3, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
  }
span{
      color: #ede7f2;
      font-family: 'Rock Salt', cursive;
  }
  .active {
    transform: rotateY(180deg);
  }

h1, h2{
    color: white;
    text-align: center;
    margin: 40px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}